[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "braQCA"]
	path = braQCA
	url = https://github.com/burrelvannjr/braqca
[submodule "polimetrics"]
	path = polimetrics
	url = https://github.com/burrelvannjr/polimetrics
[submodule "vannstats"]
	path = vannstats
	url = https://github.com/burrelvannjr/vannstats
